@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
@font-face {
  font-family: "Cooper Hewitt";
  src: url("cooper-hewitt.heavy.otf") format("opentype");
}
body {
  font-family: Raleway !important;
  color: #003b49 !important;
  background-color: #bfcec2 !important;
}
.title {
  font-family: "Cooper Hewitt", Arial, sans-serif !important;
  color: #003b49;
}
.grams {
  font-family: "Cooper Hewitt", Arial, sans-serif !important;
  color: #003b49;
  font-size: 100px;
}
.subtitle {
  font-family: Raleway !important;
  font-style: normal !important;
}
#googleMap {
  width: 80%;
  height: 400px;
  margin: 20px auto;
}
#maps,
#results {
  display: none;
}
.submit {
  visibility: hidden;
}
.text-color {
  color: #003b49;
}
.secondary-color {
  color: #698020;
}
.tertiary-color {
  color: #bfcec2;
}
.btn {
  background-color: #789d4a;
  color: white;
}
