@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
@font-face {
  font-family: "Cooper Hewitt";
  src: url("cooper-hewitt.heavy.otf") format("opentype");
}
.title {
  font-family: "Cooper Hewitt", Arial, sans-serif !important;
}
body {
  font-family: Raleway !important;
}
.text-color {
  color: #003b49;
}
.secondary-color {
  color: #698020;
}
.tertiary-color {
  color: #bfcec2;
}
.btn {
  background-color: #003b49;
  color: white;
}
.bg-sidebar {
  background-color: white;
  color: #003b49;
}
.bg-menu {
  background-color: #003b49;
  color: white;
}
.bg-top {
  background-color: #bfcec2;
}
